@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900');

.white{
    color: #fff;
}

.breadcumb{
    background: linear-gradient(270deg, rgba(114,114,114,0) 0%, #3E3E3E 100%);
    opacity: 0.8;
    color: #fff;
    padding: 20px;
    position: relative;
    bottom: -16px;
    font-family: 'Cairo', sans-serif;
}

.about .banner{
    background-image: url('../images/bg-home.png');
    background-size: cover;
    padding: 141px 0px;
    z-index: -1;
    background-repeat: no-repeat;
}

.about-left{
    padding: 50px 0px;
}

.banner .banner-text{
    width: 60%;
    font-family: 'Cairo', sans-serif;
    float: right;
    line-height: 2;
}

.banner .banner-text p{
    color: #fff;
}

.about-us__content{
    margin-bottom: 50px;

}
.about-us__content img{
    width: 100%;
}   

.about-us__content-title{
    margin-top: 220px;
}

.about-us__content p{
    font-family: 'Cairo', sans-serif;
    text-align: justify;
}

.about-right{
    padding: 0px 50px;
}

.about-right p{
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
}

.about-right h4{
    font-size: 36px;
}

.about-us__bg{
    background-image: url('../images/img-area\ of\ interest-1.png');
    margin-bottom: 20px;
    padding: 200px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.product__content{
    padding: 20px 0px;
    background-color: #0E85B7;    
}

.product__content h1{
    margin: 0 auto;
    color: #fff;
    font-size: 288px;
    padding-left: 15%;
    opacity: 0.4;
    line-height: 0.8;
    /* margin-bottom: 100px; */
}

.product__content p{
    margin-bottom: 50px;
    color: #fff;
    padding-left: 80px;
    font-family: 'Cairo', sans-serif;
}

.product__content-white img{
    width: 100%;
    position: relative;
    top: -200px;
}

.our-partners{
    margin-bottom: 50px;
    text-align: center;
}