.address {
    background-color: #0E85B7;
    color: #ffffff;
    padding: 100px 0;
}

.banner-contact{
    position: relative;
    background-image: url('../images/human.jpg');
    padding: 95px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.map iframe{
    height: 400px;
}

.navbar-nav .navbar-link{
    color: #3e3e3e3e
}

.address .form-social{
    margin: 50px 0;
}

.address .form-social .menu  ul{
    padding: 0;
}

.address .form-social .menu  ul li{
    width: 10%;
    display: inline-block;
    border-radius: 50%;  
    text-align: center;  
    padding: 15px;
    margin-right: 5px;
}

.address .form-social .menu ul li a{
    color: #fff;
}

.facebook{
    background: #34599D;
    
}

.google{
    background: #EC3C39;
    
}

.bold{
    font-weight: 600;
}

.f-200{
    font-weight: 200
}

.address-title{
    margin-bottom: 50px;
}

.twitter{
    background: #2EAEF4;
}

.linkedin{
    background: #007ABA;
}


.bord{
    border-right: 3px solid #fff;
}

.address .form h2{
   margin-bottom: 50px;
}

.address .text-area{
    margin-top: 20px;
    padding: 1%;
}

.address textarea{
    border: none;
    border-radius: 5px;
}

.address button{
    width: 100%;
    margin: 1%;
    border: none;
    border-radius: 5px;
    padding: 20px;
    background: #005579;
    color: #fff;
}

.address .form{
    padding-left: 50px;
}

.address .email span{
    position: relative;
    top: 7px;
    font-size: 26px;
}

.address .email{
    font-size: 14px;
}

.address .phone span{
    position: relative;
    top: 7px;
    font-size: 26px;
}

.address .phone{
    font-size: 14px;
}

.map{
    margin: -20px 0;
}
