.sidebar{
    width: 25%;
    margin-left: 17px;
}

.sidebar ul li{
    list-style: none;
    margin: 10px 0;
    margin-right: 50px;
    padding: 10px 0px;
    border-bottom: 1px solid #000;
}

.sidebar ul {
    padding: 0;
}

.faq{
    width: 70%;
    margin-bottom: 30px;
    background: #f2f2f2;
    padding: 20px;
}

.menu2{
    display: none;
}

.one,.two,.three,.four,.five{
    
}