.top-footer .top{margin-bottom: 35px;}
.bottom-footer__menu ul{
    margin: 10px 0px;
}


.bottom-footer__menu ul li{
    padding: 2px 0;
}

.litle{
    color: #ffffff;
    font-size: 14px;
    font-weight: 200;
    margin-top: 50px;
}

.f-w-200{
    font-weight: 200;
    font-size: 14px;
}
