@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900|Roboto');
h1, h2, h3, h4, h5 {font-weight: 600}
body{
    font-family: 'Roboto', sans-serif;
}

.area__text{
    display: none;
}

.our-partners{
    display: none;
}

a:hover{
    text-decoration: none;
    color: #000
}

.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }
  
  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }

.f-cairo{
    font-family: 'Cairo', sans-serif;
}

.float-r{
    float: right;
}

.f-14{
    font-size: 14px;
}

.p-20{
    padding: 20px;
}

.product-modular__list{
    padding: 5px;
    margin-bottom: 30px;
}

.centered{
    margin: 0 auto;
    display: table
}
.navbar{
    position: fixed;
    z-index: 2;
    padding: 15px 0;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-dark{
    background-color: #0E85B7;    
    
}

img{
    height: auto;
    display: block;
}
.navbar-brand img{
    width: 150px;
}


.navbar .btn-services{
    background: #3d9466;
    color: #fff;
    padding: 10px;
}
.navbar .btn-services2{
    background: red;
    color: #fff;
    padding: 10px;
}

.home-bg{
    padding: 20px;
    background-color: #0E85B7;    
}

.background{
    background-image: url('../images/img-banner.png');
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner{
    position: relative;
    height: 100vh;      
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/bg-home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.banner::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: #0E85B7;
    z-index: 1;
}

.banner .banner-content{   
    color: #fff;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.banner .left-banner{
    padding-top: 300px;
    width: 40%;
    float: left;
    padding-left: 165px;    
}

.banner .left-banner h1{}

.banner .left-banner p{
    font-weight: 200;
    font-family: 'Cairo', sans-serif;
}

.banner .right-banner{
    width: 60%;
    float: right;
}

.right-banner img{
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

.content.home .product{
    position: relative;

    font-family: 'Cairo', sans-serif;
}


.product__solution{display: inline-block; padding: 100px 0;}

.product__solution-list{
    float: left;
    width: 100%;
}

.product__solution-list a{
    color: #000;
    float: left;
    
}

.product__solution-list p{
    
}

.product__solution-list .content{
    width: 360px;
    display: inline-block;
    text-align: left;
    padding: 0 10px;
    margin: 30px 0;
}

/* .product__solution-list .content:last-child{} */

.product__solution-list .content .icon{
   width: 23%;
   float: left;
  padding: 20px 0;
}
.product__solution-list .content .text{
    float: right;
    width: 71%;
    text-align: left;
    font-size: 15px;
}

.product__solution-list .content .text h5 {
    color: #3E3E3E;
    font-weight: 600;
    font-size: 17px;
}

.product__solution .top-title{
    text-align: center;
    margin-top: 50px;
}

.product__solution .top-title p{
    color: #3E3E3E;
    font-weight: 300;
}

.product__solution .top-title h2{
    color: #3E3E3E;
    font-weight: 600;
}

.product__solution-bottom{
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
}

.product__solution-bottom .content{
    width: 49%;
    overflow: hidden;
    display: inline-block;
}

.product__solution-bottom .content .icon{
    width: 27%;
    float: left;
}
.product__solution-bottom .content .text{
    width: 70%;
    float: right;
}

.product .product__solution-content .col-sm-4{
    margin-bottom: 50px;
}

.product .product__solution-content .col-sm-6{
    
}

.product .product__solution .tagline{
    margin-bottom: 50px;
}

.product .product__solution .icon img{
    width: 100%;
    
}

.product .product__solution .product__solution-text {
    
}
.product .product__solution .product__solution-text .title {
    font-weight: 600;
}


.promotion{
    position: relative;
    background: #0E85B7;
    color: #fff;
    padding: 70px 0;
}

.promotion::before{
    content: '';
    position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    height: 200px;
    background: linear-gradient(180deg, transparent, #0E85B7);
}

.promotion-btn{
    float: right;
    margin-top: 20px;
}

.promotion-btn a{
    background: transparent;
    border: 2px solid #fff;
    padding: 5px 30px;
    border-radius: 5px;
    font-weight: 100;
    margin-left: 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.promotion-btn a:hover{
    text-decoration: none;
}

.product .product__modular{
    background-color: #0C709A;
}

.product-modular__list{
    margin: 30px 95px;
}

.product-modular__list .title{
    margin-top: 25px;

}
.product-modular__list .title h5{
    font-size: 25px;
}

.product .product__modular{
    color: #fff;
    font-weight: 300;
    padding: 100px 0px;
}


.product .product__modular h2{
    font-size: 48px;
}

.product__modular {
    font-size: 14px;
    font-weight: 200;
}

.product .product-modular__icon{
   padding-top: 50px;
}

.product-modular__title{
    margin: 40px 0;
    text-align: center;
}

.product .product__modular .icon img{
    width: 100px;
    padding: 10px 5px;
    margin: 5%;
}

.area-of__interest{
    margin: 130px 0;

}

.area-of__interest .area-f__content{
    background-color: #F2F2F2;
    padding: 50px 100px;
}

.area-of__interest .area-f__content .title{
    text-align: center;
    margin-bottom: 50px;
}

.area-of__interest h2 { 
    margin: 20px 0px;   
    font-size: 48px;
    color: #3E3E3E;
}

.area-of__interest p {
    font-weight: 300;
    margin: 0;
}

.area-of__interest .list-of__area{
    position: relative;
    margin-bottom: 20px;
}

.area-of__interest .list-of__area::before{
    content: "";
    position: absolute;
    background: black;
    top: 0;
    right: 0;
    opacity: 0.5;
    left: 0;
    bottom: 0;
}

.area-of__interest .list-of__area img{
    width: 100%;
    height: 100%;
    /* opacity: 0.8; */
}
/* .area-of__interest .list-of__area img:{
    width: 100%;
    background: black;
    content: '';

} */

.area-of__interest .area-f__content .area__text{
    position: absolute;
    right: 1px;
    left: 0;
    bottom: 0;
    color: #fff;
}

.bg-disaster{
    background: #1640A4;
}

.bg-disaster2{
    background-color: #30B889;
}

.bg-parking2{
    background-color: #98953C;
}

.bg-parking{
    background-color: #3C9843;
}

.bg-absence{
    background-color: #AB4949;
}

.bg-absence2{
    background-color: #8F49AB;
}

.area-of__interest .list-of__area .area__text .desc{
    padding: 0px 10px;
}
.area-of__interest .list-of__area .area__text .header{
    width: 70%;
    
}

.area-of__interest .area-f__content .area__text .desc p{
    font-weight: 200;
    color: #fff;
    font-size: 14px;
    padding: 8px;
}
.area-of__interest .area-f__content .area__text .header p {
    font-weight: 600;
    text-align: left;
    
    font-size: 16px;
    padding: 15px;
    line-height: 1.2em;
}

.list-of__area .img__{
    height: 196px;
}

.more-abouts{
   text-align: center;
   background: #f2f2f2;
   padding: 50px 0px;
}

.more-abouts .more-abouts__header{
    background-image: url('../images/portofolio.png');
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: #fff;
}

.more-abouts h2{
    margin-bottom: 72px;
    color: #3E3E3E;
}

.more-abouts .more-abouts__content{
    text-align: justify;
    padding: 20px;
    background: #fff;
    font-size: 14px;
    font-family: 'Cairo', sans-serif;
}

.more-abouts .more-abouts__header h4{
    font-size: 18px;
    color: #fff;
}


.more-abouts .more-abouts__footer {
    padding: 30px 20px;
    background: #fff;
    margin-bottom: 50px;
}

.more-abouts .more-abouts__footer a{
    float: left;
    font-weight: 600;
    color: #3E3E3E;
}

.top-footer{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    padding: 50px 0px;
    background-image: url('../images/img-banner-bawah.png')
}

.top-footer a{
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0px 10px;
}

.bottom-footer{
    background-color: #434343;
}

.bottom-footer{
    color: #fff;
    font-weight: 400;
}

.bottom-footer .bottom-footer__logo{
    margin: 50px 0px;
}

.bottom-footer .bottom-footer__logo img{
    width: 177px;
}

.bottom-footer .bottom-footer__menu{
    margin-top: 50px;
}

.bottom-footer .bottom-footer__menu ul li{
    list-style: none;
    position: relative;
    left: -40px;
    width: 200px;
}

.bottom-footer .form-social .menu ul li{
    display: inline-block;
    padding:10px 15px;
    border-radius: 50%;
}

.bottom-footer .form-social .menu ul li a{
   color: #fff
}

.bottom-footer .form-social .menu {
    float: right;
}

.facebook{
    background: #34599D;
    
}

.google{
    background: #EC3C39;
    
}

.twitter{
    background: #2EAEF4;
}

.linkedin{
    background: #007ABA;
}