.f-w-200{
    font-weight: 200;
}

.f-14{
    font-size: 14px;
}

.f-cairo{
    font-family: 'Cairo', sans-serif;
}

.banner-product{
    position: relative;
    background-image: url('../images/img-area\ of\ interest-1.png');
    margin-bottom: 20px;
    padding: 95px 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.banner_smart_parking{
    background-image: url('../images/parkingspace.jpg') !important;
}

.banner_smart_absence{
    background-image: url('../images/produk-absence.jpg') !important;
}

.banner_perimeter{
    background-image: url('../images/produk-security.jpg') !important;
}

.banner_disaster{
    background-image: url('../images/produk-disaster.jpg') !important;
}

.banner-plate{
    background-image: url('../images/transportation.png') !important;
}   

.banner-traffic{
    background-image: url('../images/traffic\ sign.jpg') !important;
}

.banner-flood{
    background-image: url('../images/flood.jpg') !important;
}
.banner-trash{
    background-image: url('../images/trash.jpeg') !important;
}

.banner-fire{
    background-image: url('../images/fire.jpg') !important;
}

.banner-face{
    background-image: url('../images/face.jpg') !important;
}

.banner-human{
    background-image: url('../images/human.jpg') !important;
}

.banner-faq{
    background-image: url('../images/img-area\ of\ interest-3.png') !important;
}

.banner-intruder{
    background-image: url('../images/intruder.jpg')
}


.banner-product::before{
    position: absolute;
    content: "";
    background: #000;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    bottom: 0;
}

.product-desc{
    margin-top: 200px;
}

.product-page{
    width: 100%;
    overflow: hidden;
    padding: 80px 50px;
}

.product-page__img{
    width: 50%;
    float: left;
    
}

.product-page__img img{
    height: 270px;
    width: 70%;
    margin: 0 auto;
}

.product-page__desc{
    width: 50%;
    float: right;
    text-align: justify;
    padding: 50px;
}

.product__bg{
    position: relative;
    background-image: url('../images/img-area\ of\ interest-2.png');    
    padding: 200px 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.intruder_bg{
    background-image: url('../images/arms.jpg') !important;    
}

.product__bg::before{
    content: "";
    position: absolute;
    background: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
}

.product__bg .desc{
    position: absolute;
    width: 60%;
    left: 20%;
    text-align: center;
}

.our-partners {
    margin-bottom: 100px;
}

.our-partners .title{
    margin-bottom: 50px;
}

.our-partners .title h2{
    font-size: 48px;
    color: #3E3E3E;
}
.embed-responsive {
    width: 700px;
    padding: 50px 50px 20px 100px;
    margin: 70px 20px 30px 20px;
    background: white;
}
.embed-video {
    margin-top: 5px;
    padding: 5px 2px 5px 5px;
}