@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900');

.services-banner{
    position: relative;
    width: 100%;
    height: 100vh; 
    background-image: url('../images/img-atas.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

.services-text{
    font-family: 'Cairo', sans-serif;
    width: 50%;
    padding-top: 200px;
    padding-left: 200px;
    line-height: 22px;
}

.services-text .title h1{
    font-size: 48px;
}

.services-text p{
    font-size: 22px;   
    font-weight: 200;
}

.services-arrow{
    margin-top: 250px;
    text-align: center;
}

.services-arrow i{    
    font-size: 40px;
}

.services-content::before{
    content: '';
    position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    height: 200px;
    background: linear-gradient(180deg, transparent, #25567B);
}


.services-content{
    font-family: 'Cairo', sans-serif;
    color: #fff;
    position: relative;
    padding: 50px;
    background-color: #25567B;
}

.services-content__left{
    margin-top: 50px;
    float: left;
    width: 50%;

}

.services-content__left p{
    font-weight: 200;
}

.services-content__right{
    overflow: hidden;
    width: 50%;
}

.services-content__right img{
    min-height: 300px;
    object-fit: none;
    width: 80%;
    float: right;
}

.services-area{
    background: #25567B;
    text-align: center;
    position: relative;
    font-family: 'Cairo', sans-serif;
}

.services-area p{
    font-weight: 200;
}

.services-area__text{
    color: #fff;
    margin: 0 auto;
    width: 80%;
}

.services-area__image-content img{
    padding: 10px 5px;
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: inline-block;
}

.services-project{
    background: #25567B;
    padding-top: 200px;
}

.services-project__title{
    color: #fff;
    text-align: center;
    padding-bottom: 100px;
    font-family: 'Cairo', sans-serif;
}

.services-project__title p{
    font-weight: 200;
}

.services-project__content{
    overflow: hidden;
    background: #25567B;
    width: 100%;
    padding-bottom: 100px;
}
.left{
    float: left;
    background: #25567B;
    width: 50%;
    color: #fff;
}

.left .description{
    padding-top: 100px;
    text-align: right;
    width: 60%;
    float: right; 
    font-family: 'Cairo', sans-serif;   
}

.left .description h2{
    font-weight: 600;
}

.left .description .menu {
    font-weight: 200;
}

.left img{
    width: 80%;
    object-fit: cover;
    float: left;
    height: 500px;
}

.left .portfolio{
    width: 50%;
    text-align: center;
    float: right;   
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 100px;
}

.left .portfolio a{
    color: #fff;    
}
.portfolio:hover{
    background-color: #3E9467;
    color: #fff;
    border: none;
}

.left .description ul li{
    list-style: none; 
}

.right{
    float: right;
    width: 50%;
    color: #fff;
}

.right img{
   width: 80%;
   object-fit: cover;
   float: right;
   height: 500px;
}

.right .description{
    padding-top: 100px;
    padding-left: 100px;
    width: 80%; 
    font-family: 'Cairo', sans-serif;  
}

.right .description ul li{
    list-style: none;
}

.right .portfolio{
    width: 50%;
    text-align: center;
    float: left;   
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 100px;
}

.right .portfolio a{
    color: #fff;
}


.services-portfolio{
    background: #25567B;
    color: #fff;
    width: 100%;
    text-align: center;
    font-family: 'Cairo', sans-serif;  
}

.services-portfolio .menu p{
    padding: 5px 15px;
    border-right: 1px solid #ddd;
    display: inline-block;
}

.services-portfolio .portfolio-content{
    width: 20%;
    display: inline-block;
}

.services-portfolio .portfolio-content .desc .text{
    font-weight: 200;
}

.services-portfolio .portfolio-content img{
    width: 100%;
    object-fit: cover;
    padding: 20px;
    height: 300px;
}

.services-portfolio .portfolio-content .desc{
   margin-bottom:40px; 
}

.services-portfolio .load-more{
    padding: 20px;
}

.services-portfolio .load-more a{
    padding: 10px 50px;
    color: #fff;
    border: 1px solid #fff;
}